/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        @apply bg-linen;
        @apply text-black;
    }
    * {
        @apply font-heading !important;
    } /* Needed for certain components to render properly using the custom font */
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
    h4 {
        @apply text-xl;
    }
    h5 {
        @apply text-lg;
    }
    h6 {
        @apply text-base;
    }
    ul {
        @apply list-disc ml-10;
    }
    b, .bold {
        @apply font-semibold;
    }
    .page-box {
        @apply px-20 py-12;
        @apply text-black;
    }
    .hover-text-teal {
        @apply hover:text-teal duration-300
    }
    .hover-text-coral {
        @apply hover:text-coral duration-300
    }
}

@layer components {
    .card {
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
    }
    /* ... */
}